#chatBox{
  border: rgb(0, 128, 79) solid 2px;
  border-radius: 5px;
  width: 80vw;
  min-height: 30vh;
  margin:auto;
}
#allMessages{
  border: rgb(0, 128, 79) solid 2px;
  border-radius: 5px;
  width: 70vw;
  min-height: 30vh;
  margin:auto;
  background-color: rgb(58, 58, 58);
}