#chatBox{
  border: rgb(0, 128, 79) solid 2px;
  border-radius: 5px;
  width: 80vw;
  min-height: 30vh;
  margin:auto;
  background:linear-gradient(white, rgb(211, 211, 211));
  padding: 2rem;
}
#allMessages{
  border-radius: 15px;
  margin:auto;
}

.sendbutton{
  background: linear-gradient(green, lime);
  margin: 4px;
}
.sendbutton:hover{
  background: white;
  transition: 0.5s;
}
#message{
  margin: 2px;
  border: 2px gray solid;
  padding: 1rem;
  border-radius: 5px;
}
#sendBox{
  border: 2px gray solid;
  padding: 1rem;
  border-radius: 5px;
}