body{
  color:rgb(255, 255, 255);
  background:linear-gradient( rgb(127, 170, 66),rgb(75, 102, 38));
  min-height: 100vh;;
}
h1, h2, h3{
  text-align: center;
}

@font-face { font-family: Alex-regular; 
  src: url('@/assets/AlexBrush-Regular.ttf'); } 
h1{
font-family: Alex-regular;
font-weight: 900;
}
.generallbtn{
  background-color: white;
}
.generallbtn:hover{
  background-color: gray;;
}
#weatherCard{
 width:20vw;
}
#weaterBox{
  display:flex;
}
